CrispY
#5103
NFT Master

Jaja
 started a call that lasted 24 minutes.
 — 10/06/2021 7:58 PM
CrispY
 started a call that lasted a few seconds.
 — 10/06/2021 9:29 PM
Jaja
 started a call that lasted 13 minutes.
 — 10/06/2021 9:30 PM
CrispY — 10/06/2021 9:48 PM
yo btw enleve le minus border spacing dans get num subplots budget
pcq jai submit et jai eu faux
et quand  jai enleve ct bon
jsp pq
mais c ca
Jaja — 10/06/2021 11:22 PM
wadafawk r u talking abt
jai pas vu AHAHAHSHAAH
moi ca marche???
CrispY — 10/06/2021 11:22 PM
wait what?
je peux te call?
Jaja — 10/06/2021 11:23 PM
att jdois aider isabelle avc le quiz
donne moi 10
CrispY — 10/06/2021 11:23 PM
ohhhh
Jaja — 10/06/2021 11:23 PM
ca devrait etre quick
CrispY — 10/06/2021 11:23 PM
aytyt
Jaja — 10/06/2021 11:27 PM
mais je tai snap
mais tu parles du private test???
CrispY — 10/06/2021 11:27 PM
ye
pcq quand javais fait ca
ca me dit une erreur
Jaja — 10/06/2021 11:27 PM
AAAA
c le truc que je tai send???
CrispY — 10/06/2021 11:28 PM
yeye
Jaja — 10/06/2021 11:28 PM
oof ok
CrispY — 10/06/2021 11:30 PM
Image
c ca mon erreur
CrispY
 started a call that lasted 29 minutes.
 — 10/08/2021 10:01 PM
CrispY — 10/08/2021 10:02 PM
tes la?
Jaja — 10/08/2021 10:02 PM
ESKE TU MENTENDS
CrispY — 10/08/2021 10:02 PM
nope
Jaja — 10/08/2021 10:02 PM
BRAH
VAKDJAKZNALS
You missed a call from
Jaja
 that lasted a few seconds.
 — 10/12/2021 6:32 PM
CrispY
 started a call that lasted a few seconds.
 — 10/14/2021 10:07 PM
Jaja — Yesterday at 10:25 AM
Attachment file type: archive
CodeJam2022.zip
2.72 MB
Jaja — Yesterday at 2:55 PM
Attachment file type: archive
CodeJam.zip
1.59 MB
Jaja — Yesterday at 3:59 PM
Attachment file type: archive
CodeJam.zip
1.59 MB
Jaja — Yesterday at 5:32 PM
Attachment file type: archive
CodeJam.zip
1.60 MB
CrispY — Yesterday at 5:53 PM
Attachment file type: archive
CodeJam.zip
8.63 MB
CrispY — Yesterday at 6:25 PM
Attachment file type: archive
CodeJam_2.zip
8.63 MB
Jaja — Yesterday at 8:55 PM
Attachment file type: archive
html5up-dopetrope.zip
1.54 MB
Jaja — Yesterday at 10:15 PM
input type="submit" value="Sign out" id="signout">
        <a href= index_button id="index"></a>
CrispY — Today at 12:26 AM
Attachment file type: archive
CodeJam.zip
8.63 MB
Jaja — Today at 12:46 AM
Attachment file type: archive
CodeJam.zip
1.68 MB
Jaja — Today at 3:17 AM
import socket
import requests
import time
import json

all_days = []
Expand
venue_search.py
5 KB
Jaja — Today at 4:21 AM
import socket
import requests
import time
import json

all_days = []
Expand
venue_search.py
5 KB
Jaja — Today at 8:59 AM
import socket
import requests
import time
import json

all_days = []
all_venues = {}


def get_stores(ad):
    # Find the user's current location using their api
    hostname = socket.gethostname()
    ip_address = socket.gethostbyname(hostname)
    # print(f"Hostname: {hostname}")
    # print(f"IP Address: {ip_address}")

    my_url = "https://geolocation-db.com/json/" + "142.157.215.88" + ".79&position=true"

    # print("my ip address: ", ip_address)

    response = requests.get(my_url).json()

    # print(response)
    latitude = response.get("latitude")
    longitude = response.get("longitude")

    # JSON file is a dictionary
    TRUE_ip = response.get("IPv4")

    # print("TRUE ip: ", TRUE_ip)

    def ipInfo(addr=''):
        from urllib.request import urlopen
        from json import load
        if addr == '':
            url = 'https://iplocation.com/json'
        else:
            url = 'https://ipinfo.io/' + addr + '/json'
        res = urlopen(url)
        # response from url(if res==None then check connection)
        data = load(res)
        # print("data:", data)
        # will load the json response into data
        return data.get("city")

        # for attr in data.keys():
        # will print the data line by line
        # print(attr,' '*13+'\t->\t',data[attr])

    # ------------- USER CITY CONFIRMATION --------------#

    user_city = "Your City"
    url = "https://besttime.app/api/v1/venues/search"
    if ad != "":
        our_search = "busy " + ad
        print(our_search)
    else:
        user_city = ipInfo(TRUE_ip)
        # Now that we have the long and lat, we put that in the search
        our_search = "busiest grocery store and malls in " + user_city.lower()
        # print(our_search)

    params = {
        'api_key_private': 'pri_04170f7f72f5435bad7d2f580092bf82',
        'q': our_search,
        'num': 20,
        'fast': False
    }

    response = requests.request("POST", url, params=params)

    # print(response)
    # gives us a link to json file with all the venues and their foot traffic data
    # print(response.json())

    # uncomment this for API connection

    dic_url_for_data = response.json()
    print(dic_url_for_data)

    url_for_data = (dic_url_for_data.get("_links")).get("venue_search_progress")
    # print(url_for_data)

    '''
    f = open("venues_json.json")
    venues_json = json.load(f)
    json_for_data = venues_json.get("venues")

    # dictionary for all addresses
    all_venues = {}
    i = 0
    st = 0
    ed = 7
    lst = []
    for ven in json_for_data:
        if ven.get("venue_foot_traffic_forecast") != None:
            ven_name = ven.get("venue_name")
            ven_address = ven.get("venue_address")
            ven_id = ven.get("venue_id")
            ven_h = ven.get("venue_foot_traffic_forecast")
... (70 lines left)
Collapse
venue_search.py
6 KB
from flask import Flask, render_template, request, redirect, url_for
import venue_search

app = Flask(__name__)


@app.route("/")
def title():
    return render_template("title.html")


@app.route('/index_button')
def index():
    return render_template("index.html")


@app.route('/register_button')
def register():
    return render_template("register.html")

freq = ""

d = ""

name, store, cit = "", "", ""
ran = False

@app.route('/search_button', methods=["GET", "POST"])
def search():
    if request.method == "POST":
        freq = request.form["searched"]
        names, stores, citi = venue_search.get_stores(freq)
        ran = True
        return home()
    else:
        return render_template("search.html")


if ran:
    stores = store
    names = name
    citi = cit

# BUTTONS FOR DIFFERENT VENUES' HEATMAP
# names, stores, citi = venue_search.get_stores(freq)
@app.route('/home_button')
def home():
    if ran:
        d = names
        city = citi
    else:
        d, nothing, city = venue_search.get_stores(freq)
    return render_template("home.html", d=d, city=city)



@app.route("/heatmap_button0")
def heatmap():
    all_days = stores[0:7]
    return render_template("graph.html", all_days=all_days)


@app.route("/heatmap_button1")
def heatmap1():
    all_days = stores[7:14]
    return render_template("graph.html", all_days=all_days)

if ran:
    stores = store

@app.route("/heatmap_button2")
def heatmap2():
    all_days = stores[14:21]
    return render_template("graph.html", all_days=all_days)


@app.route("/heatmap_button3")
def heatmap3():
    all_days = stores[21:28]
    return render_template("graph.html", all_days=all_days)


@app.route("/heatmap_button4")
def heatmap4():
    all_days = stores[28:35]
    return render_template("graph.html", all_days=all_days)


@app.route("/heatmap_button5")
def heatmap5():
    all_days = stores[35:42]
    return render_template("graph.html", all_days=all_days)


@app.route("/heatmap_button6")
def heatmap6():
    all_days = stores[42:49]
    return render_template("graph.html", all_days=all_days)


... (34 lines left)
Collapse
test.py
4 KB

<!DOCTYPE html>
<html>
    <head>
        <title>CODEJAM2022</title>
        <!--<link rel="stylesheet" href="index.css">-->
Expand
search.html
3 KB
<!DOCTYPE html>
<html>
    <head>
        <title>CODEJAM2022</title>
        <!--<link rel="stylesheet" href="index.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
Expand
index.html
3 KB
<!DOCTYPE html>
<html>
    <head>
        <title>CODEJAM2022</title>
        <!--<link rel="stylesheet" href="index.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
Expand
register.html
3 KB
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
	<link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
	<title>Stryde by Jacqueline Wu, Yujie Chen, Steven Kim and Eric Joung</title>
Expand
home.html
5 KB

body.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0,7), rgba(4,9,30,7)),url(img/night.jpg);
    background-size: cover;
Expand
search.css
3 KB
﻿
<!DOCTYPE html>
<html>
    <head>
        <title>CODEJAM2022</title>
        <!--<link rel="stylesheet" href="index.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
        <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
    </head>


<body class="base">

<div class="square">
    <p><img src="{{ url_for('static', filename= 'img/Logo.png') }}" style="width:25%;height:25%;"></p>

<div style="font-family: century-gothic">
    Create Your Account
</div>
<br>

<div id="text">
    <input type="email" placeholder="Email" id="email" required><br>
    <input type="password" placeholder="Password" id="password" required><br>
    <div id="account"><a href=index_button>Already have an account?</a></div><br>
    <input type="submit" value="Sign up" id="signup"><a href=search_button><br>
    <a href= search_button id="home"></a>

    </div>
</div>



</body>

</html>


<script type="module">
import { initializeApp } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-app.js";
import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-analytics.js";
import { 
    getAuth, 
    createUserWithEmailAndPassword,
 } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-auth.js";
 import {getDatabase, set, ref} from "https://www.gstatic.com/firebasejs/9.14.0/firebase-database.js";


const firebaseConfig = {
apiKey: "AIzaSyDm6jtU5A6QJHRUlATDXEYekNjbrrdEZBE",
authDomain: "codejam2022-7c320.firebaseapp.com",
projectId: "codejam2022-7c320",
storageBucket: "codejam2022-7c320.appspot.com",
messagingSenderId: "424895343452",
appId: "1:424895343452:web:c5957662320246911baf99",
measurementId: "G-JKVDPDMXXJ"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);
const auth = getAuth();
const database = getDatabase(app);

signup.addEventListener('click', (e) => {
    var email = document.getElementById('email').value
    var password = document.getElementById('password').value

    //sign up user
    createUserWithEmailAndPassword(auth, email, password)
        .then((userCredential) => {
            // Signed in
            const user = userCredential.user;
            // ... user.uid
            set(ref(database, 'users/' + user.uid), {
                email: email,
                password: password
            })
                .then(() => {
                    // Data saved successfully!
                    alert('user created successfully');
                    document.getElementById('home').click();
    
                })
                .catch((error) => {
                    // The write failed...
                    alert(error);
                });
        })
        .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
            alert(errorMessage);
        });
});

    
</script>